<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>振り返りシートを追加する</title>
<link th:href="@{/css/data.css}"rel="stylesheet">
</head>
<body>
 <div id="mainbox">
    <div class="menu">
         <label for="menu_bar01">≡</label>
          <input type="checkbox" id="menu_bar01" class="accordion"/>
          <ul id="links01">
                    <li><a href="/">indexに戻る</a></li>
                    <li><a href="/box">まとめ一覧</a></li>
                    <li><a href="/edit">投稿する</a></li>
          </ul>
     </div>
        <h1>振り返りシート</h1>
        
        <h3>■　今日の授業内容</h3>
        <textarea rows="" cols=""></textarea>
     
        <h3>■　難しく感じた部分</h3>
        <textarea rows="" cols=""></textarea>
        <h3>■　今日の学び</h3>
        <textarea rows="" cols=""></textarea>
        <h3>■　次回の授業までにすること</h3>
       	<textarea rows="" cols=""></textarea>
        <h3>■　質問・その他</h3>
        <textarea rows="" cols=""></textarea>
        
        
    </div>
</body>
</html>