<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>11/12の振り返り</title>
</head>
<body>
<title>振り返りシート</title>
<!-- <link rel="stylesheet" href="css/data.css"　madia="all"> -->
<link th:href="@{/css/data.css}"rel="stylesheet">
</head>
<body>
    <div id="mainbox">
    	<div class="menu">
                <label for="menu_bar01">≡</label>
                <input type="checkbox" id="menu_bar01" class="accordion"/>
                <ul id="links01">
                    <li><a href="/">indexに戻る</a></li>
                    <li><a href="/box">まとめ一覧</a></li>
                    <li><a href="/edit">投稿する</a></li>
                </ul>
                
            </div>
        <h1>振り返りシート</h1>
        <h2>11/12まとめ</h2>
        <h3>■　今日の授業内容</h3>
        <p>今までの飯田先生との授業で学習したことをまとめ、<br>
        大橋先生に説明し、これからの方針の決定
        </p>
        <h3>■　難しく感じた部分</h3>
        <p>説明するにあたり、今までの学習内容を振り返ってみたのですが、<br>やはり言葉だけでわかりやすく説明するというのはなかなか難しいというのを実感しました。</p>
        <h3>■　今日の学び</h3>
        <p>今回飯田先生から大橋先生に担当が引き継がれるに当たって、<br>
            今まで学習した内容をまとめて何ができないのかを<br>
        説明しつつ、自分でも把握。</p>
        <h3>■　次回の授業までにすること</h3>
        <p>SQL(言語)について調べる(プロゲート等)<br>
            Githubの使い方に慣れる
            基本情報技能者についての本等を購入するなどして学習する
            </p>
        <h3>■　質問・その他</h3>
        <p>今までこういった形で、振り返りシートなどを作成し、<br>記入するという機会がなかったので色々と手探り状態なのですが<br>
        これで大丈夫でしょうか…<br>
        改めてこれからご指導のほど宜しくお願いします。
    </p>
        
        
    </div>
</body>
</html>